<ion-header [translucent]="true">
    <ion-toolbar style="color:rgba(19, 24, 40, 1)">
  
     <ion-menu-button slot="start"  fill="clear"  menuId="menu" contentId="main" onclick=abirMenu()>
     
     
        <svg width="35" height="35" viewBox="0 0 231 236" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M231 120.5C231 151.133 218.831 180.51 197.171 202.171C175.51 223.831 146.133 236 115.5 236C84.8675 236 55.4896 223.831 33.8292 202.171C12.1687 180.51 4.62538e-06 151.133 0 120.5L115.5 120.5H231Z" fill="#FAFAFA"/>
          <path d="M231 115.5C231 84.8675 218.831 55.4896 197.171 33.8292C175.51 12.1687 146.133 7.62939e-06 115.5 0C84.8675 0 55.4896 12.1687 33.8292 33.8292C12.1687 55.4896 4.62538e-06 84.8675 0 115.5L115.5 115.5H231Z" fill="#F00000"/>
          <line y1="-2.5" x2="231" y2="-2.5" transform="matrix(1 2.39483e-05 -5.86519e-05 1 0 121)" stroke="black" stroke-width="5"/>
          <circle cx="115.5" cy="120.5" r="28.5" fill="#FAFAFA" stroke="black" stroke-width="4"/>
          <path d="M133.5 120.5C133.5 130.441 125.441 138.5 115.5 138.5C105.559 138.5 97.5 130.441 97.5 120.5C97.5 110.559 105.559 102.5 115.5 102.5C125.441 102.5 133.5 110.559 133.5 120.5Z" fill="#FAFAFA" stroke="black"/>
          <path d="M0.962717 121.996L29.8374 121.996L40.4251 154.064L51.975 184.667L64.4876 206.385L82.7749 226.388L100.1 234.026L73.1499 226.388L50.0499 214.282C50.0499 214.282 30.9031 197.341 29.8374 196.513C28.851 195.746 13.154 170.18 11.6283 167.946C11.6555 168.059 11.6325 168.045 11.5501 167.885C11.4746 167.738 11.5057 167.767 11.6283 167.946C11.3212 166.675 4.59769 149.299 4.81261 146.166C5.04653 142.757 0.266473 122.799 0.962717 121.996Z" fill="#E4E4E4" stroke="#F0F0F0"/>
          <ellipse cx="21.2491" cy="14.7557" rx="21.2491" ry="14.7557" transform="matrix(0.922906 -0.385026 0.368657 0.929566 44.275 23.5976)" fill="white"/>
   </svg>
     </ion-menu-button>
  
      
        <ion-searchbar color="light" animated="true" placeholder=""></ion-searchbar>
  
        <ion-button slot="end" fill="clear">
          <ion-icon name="search" color="dark"></ion-icon>
        </ion-button>
  
    </ion-toolbar>

  
</ion-header>

<ion-content [fullscreen]="true">
   
  <ion-title class="ion-padding">
    <ion-accordion-group>
      <ion-accordion  value="first">
      <ion-item slot="header" >
        <ion-label>Organizar por: </ion-label>
      </ion-item>
    
      <ion-list slot="content" >
        <ion-item>
          <ion-label>Ordem Crescente</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Ordem Decrescente</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>A - Z</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Z - A</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
  </ion-title>



<ion-grid>
  <ion-row  >
    <ion-col class="ion-padding" size-md="6">
      <ion-card *ngFor = "let card of cards">
        <ion-card-header>
          <ion-card-title>#{{card.id}}</ion-card-title>
        </ion-card-header>

        <img [alt]="card.alt" [src]="card.img" />
     
        <ion-card-content>
          {{card.name}}
        </ion-card-content>
      </ion-card>
    </ion-col>

     <ion-col class="ion-padding" size-md="6">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
      </ion-col> 
  </ion-row>

  <!-- <ion-row>

  <ion-col class="ion-padding">
    <ion-card>
     
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
  </ion-col>

  <ion-col class="ion-padding">
    <ion-card>
     
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
  </ion-col>
  </ion-row> -->
</ion-grid>
 
</ion-content>
