<ion-app>
  <ion-menu side="start" menuId="menu" contentId="main"  >
    <ion-header >
      <ion-toolbar >
        <ion-title>GERAÇÕES :</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <p></p>
        <a routerLink="">
        <ion-item>KANTO</ion-item>
        <p></p>
      </a>
      <p></p>
      <a routerLink=''>
        <ion-item >JOHTO</ion-item>
        <p></p>
      </a>
      <p></p>
      <a routerLink="">
        <ion-item >HOENN</ion-item>
        <p></p>
      </a>
      <p></p>
      <a routerLink=''>
        <ion-item>SNNOH</ion-item>
        <p></p>
      </a>
      <p></p>
      <a routerLink=''>
        <ion-item>UNOVA</ion-item>
        <p></p>
      </a>
      <p></p>
      <a routerLink=''>
        <ion-item>KALOS</ion-item>
        <p></p>
      </a>
      <p></p>
      <a routerLink=''>
        <ion-item>ALOLA</ion-item>
        <p></p>
      </a>
      <a routerLink=''>
        <ion-item>GALAR</ion-item>
      </a>
      <p></p>
      <a routerLink=''>
        <ion-item>PALDEA</ion-item>
        <p></p>
      </a>
      </ion-list>
    </ion-content>
  </ion-menu>


  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
