@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

ion-item{
  font-family: 'Press Start 2P';
}

ion-title{
    font-family: 'Press Start 2P';
}

ion-content{
    background-color: rgba(19, 24, 40, 1);
}

